@import "../../global.scss";

.contactSection__wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
  justify-content: space-between;
  position: relative;

  .left {
    flex: 1;
    display: flex;
    // max-width: 800px;
    // width: 100vw;
    // height: 100vh;
    // border-radius: 12px;
    // flex: 1;
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: purple;
  }
  .right {
    // width: 100vw;
    // height: 100vh;
    // max-width: 800px;

    flex: 1;
    // background-color: white;
    padding-left: 1em;
    // background-color: $darkYellow;
    h1 {
      font-family: "Jeko Bold";
      font-size: 50px;
      display: flex;
      justify-content: left;
      // align-items: left;
      margin-top: 4em;
      // background-color: blue;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .contactSection__wrapper {
      flex-direction: column;
    }
  }
}
