@import "../../global.scss";

.contact {
  display: flex;
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-around;
      // label {
      //   background-color: blue;
      //   padding: 10px;
      // }
      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
      }
      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
      }
      button {
        margin: 20px;
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      .input {
        margin: 20px;
      }
    }
  }
  .right {
    flex: 1;
    background-color: white;
    h2 {
      font-size: 30px;
    }
  }
}
