$mainColor: grey;
$lightYellow: #fbee8c;
$black: black;
$darkYellow: #ffd833;
$peach: #fff6d6;
$pink: #ff91af;
$width: 768px;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@500&family=Roboto:wght@100;300;500;700&display=swap");
@font-face {
  font-family: "Jeko Bold";
  src: url(./fonts/JekoBold.otf);
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
